﻿@{
    ViewData["Title"] = "Palabras Coincidentes";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>
</div>

<div id="cookieConsent" class="alert alert-info alert-dismissible fade show text-center" role="alert">
    Identificador de clientes <b>newshore</b>
</div>

<form method="post" enctype="multipart/form-data" asp-controller="Home" asp-action="PalabrasCoincidentes">
    <div class="form-group">
        <label for="exampleInputPassword1">* Contenido</label>
        <input type="file" class="form-control" name="contenidotxt" id="contenidotxt" placeholder="" required accept=".txt">
        <small class="form-text text-muted">Archivo .txt con las letras que conforman los nombres.</small>
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">* Registrados</label>
        <input type="file" class="form-control" name="registradostxt" id="registradostxt" aria-describedby="emailHelp" placeholder="" required accept=".txt">
        <small class="form-text text-muted">Archivo .txt con los posibles clientes.</small>
    </div>

    @if (ViewBag.error != "")
    {
        <div class="alert alert-danger" role="alert">
            <b>Error!</b> @ViewBag.error
        </div>
    }
    else if(ViewBag.path != null)
    {
        <div class="alert alert-success" role="alert">
            <b>&Eacute;xito!</b> Archivo creado en @ViewBag.path
        </div>
    }

    <button type="submit" class="btn btn-primary">Aceptar</button>

</form>
